.apply-container {
    margin: 40px auto;
    padding: 20px;
    max-width: 1200px;
    border-radius: 8px;
  }
  
  .apply-title {
    text-align: left;
    font-size: 3rem;
    color: #260563;
    margin-bottom: 20px;
    margin-top: 150px;
  }
  
  .apply-content {
    margin-top: 40px;
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .apply-content ul {
    margin-left: 20px;
    list-style-type: disc;
  }
  
  .apply-content li {
    margin-bottom: 10px;
  }
  
  .apply-button-container {
    text-align: center;
  }
  
  .apply-button {
    display: inline-block;
    padding: 7px 10px;
    font-size: 1.4rem;
    color: #260563;
    border: 1px solid #260563;
    text-decoration: none;
    border-radius: 3px;
  }
  
  .apply-button:hover {
    scale: 1.03;
  }
  