/* Settings for the page Sponsors */

.sponsors-container {
    max-width: 1400px;
    margin: 0 auto; /* Centrare il contenitore */
    padding: 0 20px; /* Aggiunge margini interni laterali */
    margin-top: 50px;
}

/* Settings for the element Sponsor */

.sponsor-container {
    margin: 10px auto; /* Spazio tra i box */
    position: relative;
    display: inline-block;
    width: 480px; /* Dimensione più piccola rispetto a prima */
    height: 280px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Per animare l'hover */
    display: flex;
    justify-content: center; /* Centra l'immagine orizzontalmente */
    align-items: center; /* Centra l'immagine verticalmente */
}

.sponsor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Massimo 3 colonne */
    gap: 20px; /* Spazio tra le righe e le colonne */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sponsor-image {
    position: relative;
    max-width: 100%; /* Adatta l'immagine al contenitore */
    max-height: 100%; 
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block; /* Rimuove eventuali comportamenti inline */
}

.sponsor-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(184, 186, 242, 0.2); /* Colore scuro per l'overlay */
    opacity: 0;
    border-radius: 7px;
    padding: 40px;
    padding-bottom: 110px;
    text-align: center;
    transition: opacity 0.3s ease;
}

.sponsor-container:hover .sponsor-image {
    transform: scale(1.03); /* Ingrandisce leggermente l'immagine */
    opacity: 0.15;
}

.sponsor-container:hover .sponsor-overlay {
    opacity: 1;
}

.sponsor-container:hover {
    transform: scale(1.06); /* Ingrandisce il box */
}

/* Description of the sponsor */

.sponsor-description {
    text-align: left;
    font-size: 14px;
}

/* Button of the sponsor ("Visit their Website") */

.sponsor-button {
    display: inline-block;
    padding: 7px 10px;
    margin-top: 220px;
    font-size: 0.9rem;
    color: var(--blue-logo);
    border: 1px solid var(--blue-logo);
    text-decoration: none;
    border-radius: 3px;
    position:absolute;
}

.sponsor-button:hover {
    scale: 1.02;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
    
    .sponsor-button {
        margin-top: 300px;
    }
  }
  






