
.sponsors {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  border-radius: 8px;
}
  
.sponsors h2 {
    text-align: left;
    font-size: 4rem;
    color: var(--blue-logo);
    margin-bottom: 100px;
    margin-top: 180px;
  }

  
.sponsors p {
    margin-top: 30px;
    font-size: 1.1rem;
    color: var(--blue-logo);
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .sponsors ul {
    margin-left: 20px;
    margin-top: 15px;
    list-style-type: disc;
  }
  
  .sponsors li {
    margin-bottom: 10px;
  }

  .sponsors h3 {
    text-align: left;
    font-size: 2.4rem;
    color: var(--blue-logo);
    margin-top:70px;
  }

  .sponsors h4 {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 30px;
    color: var(--blue-logo);
    flex-basis: 100%; /* Forza il titolo a occupare tutta la larghezza */
  }



/* Referred to logos*/

  .sponsors-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Max 3 per row */
    gap: 20px; /* Space between grid items */
    margin-top: 200px;
    padding: 20px;
    max-width: 1400px; /* Adjust as needed */
}

.sponsor-item {
    display: flex;
    justify-content: center;
}