.mission-section {
    margin-top: 150px;
    text-align: left;
    padding: 4rem 0;
    background-color: #f4faff;
}

.mission {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}

.mission h2 {
    font-size: 60px;
    text-align: left;
}

.mission p {
    padding-left: 5px;
}