.contact-container {
    margin: 0 auto;
}

.contact-container h2 {
    text-align: left;
    font-size: 2rem;
    color: #260563;
    margin-top: 120px;
}

.contact-text {
    font-size: 1.2rem;
}

.contact-info {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.contact-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.contact-item svg {
    margin-right: 10px;
    fill: none;
    stroke: #0c14ff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.contact-text a {
    color: #212171;
    text-decoration: none
}

.contact-text a:hover {
    color: #215c98;
}