
.contact-container {
    margin: 0 auto;
}

.contact-container h2 {
    text-align: left;
    font-size: 2rem;
    color: var(--blue-logo);
    margin-top: 120px;
}

.contact-text {
    font-size: 1.2rem;
}

.contact-info {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.contact-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.contact-item svg {
    margin-right: 10px;
    fill: none;
    stroke: #0c14ff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.contact-text a {
    color: var(--blue-logo);
    text-decoration: none
}

.contact-email {
    margin-top: 30px; /* Space above the button */
    display: flex;
    justify-content: center; /* Horizontally center the content */
  }

.contact-email a {
  padding: 12px 24px; /* More padding for a larger button */
  background-color: var(--blue-logo);
  border: 1px solid var(--blue-logo);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block; /* Ensures proper button-like appearance */
}

.contact-text a:hover {
    color: #215c98;
}