.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: black;
  text-align: center;
}

.animated-title h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #362298;
}

.animated-title h2 {
  font-size: 2rem;
  line-height: 1.5;
}

.highlight {
  color: #362298;
  font-weight: bold;
}

