.who-section {
   background-color: var(--azure-light);
}

.who-container {
    max-width: 1200px; /* Larghezza massima della pagina */
    margin: 0 auto; /* Centrare il contenitore */
    padding: 6rem 0;
    padding-left: 20px;
    padding-right: 20px;
}

.who-container h2 {    
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--blue-logo);
}

.who-content {
    margin: 0 auto;
    text-align: left;
    
}

.who-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 3.8rem;
    color: var(--blue-logo);
}