.who-section {
    padding: 6rem 0;
}

.who-container h2 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--blue-logo);
}

.who-content {
    margin: 0 auto;
    text-align: left;
}

.who-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 3.8rem;
}