
.team {
  overflow-x: hidden;
}

.team {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  border-radius: 8px;
}

.team h1 {
  text-align: left;
  font-size: 4rem;
  color: var(--blue-logo);
  margin-top: 180px;
  flex-basis: 100%; /* Forza il titolo a occupare tutta la larghezza */
}

.team h2 {
  text-align: left;
  font-size: 2rem;
  color: var(--blue-logo);
  margin-bottom: 50px;
  margin-top: 90px;
  flex-basis: 100%; /* Forza il titolo a occupare tutta la larghezza */
}

.president {
  display: inline-block;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.departments-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Due colonne */
  gap: 60px; /* Spaziatura tra i blocchi */
  margin: 20px auto;
  padding: 28px;
  max-width: 1200px; /* Imposta una larghezza massima per allineamento */
}
