@import './General/footer.css';
@import './General/navbar.css';
@import './General/burger.css';


@import './Home/HomePage.css';
@import './Home/hero.css';
@import './Home/who.css';
@import './Home/sponsor.css';
@import './Home/timeline.css';
@import './Home/contact.css';
@import './Home/social.css';

@import './About/mission.css';

@import './Team/team.css';
@import './Team/advisors.css';
@import './Team/manager.css';

@import './Apply/apply.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background-color 0.3s, color 0.3s;
}
