@import './General/footer.css';
@import './General/navbar.css';
@import './General/burger.css';


@import './Home/HomePage.css';
@import './Home/hero.css';
@import './Home/who.css';
@import './Home/timeline.css';
@import './Home/contact.css';
@import './Home/social.css';

@import './About/mission.css';

@import './Team/team.css';
@import './Team/advisors.css';
@import './Team/manager.css';
@import './Team/piecharts.css';
@import './Team/departments.css';

@import './Sponsor/sponsors_page.css';
@import './Sponsor/sponsor.css';

@import './Apply/apply.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

:root {

    --blue-logo: #0C4765;
    --azure-light: #cedae0;
}


