

.president-section {
  margin-bottom: 50px;
  padding-top: 100px;
  margin-top: 20px;
}

.president {
  display: inline-block;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.departments {
  margin-top: 30px;
  text-align: center;
}

.department-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.department-item {
  background: #335cd9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
}

.department-item:hover {
  background: #480bff;
  transform: scale(1.05);
}

.department-details {
  text-align: center;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.department-details h3 {
  margin-bottom: 20px;
}

.department-details ul {
  list-style: none;
  padding: 0;
}

.department-details ul li {
  margin: 5px 0;
}

.department {
  display: inline-block;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

