.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255);
  border-bottom: 1px solid #d2d5dc;
  z-index: 2000;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente il logo e il burger */
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.logo img {
  height: 60px;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--blue-logo);
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links .apply-page a {
  text-decoration: none; /* Rimuove la sottolineatura */
  color: white; /* Colore del testo bianco */
  background-color: var(--blue-logo); /* Sfondo uguale alla variabile */
  border: 1px solid var(--blue-logo); /* Bordo uguale al colore di sfondo */
  padding: 0.6rem 1.7rem; /* Padding interno per rendere il bottone più visibile */
  border-radius: 8px; /* Bordo arrotondato */
  font-weight: bold; /* Grassetto per il testo */

}

/* Burger Menu Styles */
.burger-container {
  display: none;
}

.burger {
  width: 2rem;
  height: 2rem;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.burgerLine {
  width: 2rem;
  height: 0.25rem;
  background-color: var(--blue-logo);
  border-radius: 10px;
  transition: all 0.3s linear;
}

.burger.open .burgerLine:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open .burgerLine:nth-child(2) {
  opacity: 0;
}

.burger.open .burgerLine:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .burger-container {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background-color: #f3f0f0;
    padding-top: 6.5rem;
    z-index: 10;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  .mobile-menu a {
    color: var(--blue-logo);
    padding: 15px;
    padding-left: 30px;
    text-align: left;
  }


  .nav-links.nav-links.active.mobile-menu .apply-page a {
    text-decoration: none; /* Remove underline */
    color: var(--blue-logo); /* White text */
    background-color: transparent; /* Remove background */
    border: none; /* Remove border */
    padding: 0.6rem 1.7rem; /* Add padding for better visibility */
    border-radius: 8px; /* Rounded corners */
    font-weight: bold; /* Bold text */
  }

}

